<div class="card" id="class-card" data-name="{{name}}" data-URI="{{@key}}">
	<h3 id="class-title"><a href="/class/{{@key}}">{{name}}</a></h3>
	
	<button type="button" class="more-options" ><i class="fas fa-ellipsis-v"></i></button>

	<div class="more-options-menu" hidden>
		<button type="button" class="delete-class">Delete</button>
	</div>

</div>
