<div class="flash-card">
    <div class="flash-card-content">
        <div class="card-front">
            <h3>{{question}}</h3>
        </div>
        <div class="card-back">
            <h3>{{answer}}</h3>
        </div>
    </div>
</div>