<div class="one-question">
    <div class="one-question-content">
        <div class="question">
            <h3>{{question}}</h3>
        </div>
        <div class="answer-input-element">
                <label for="answer-text-input">Answer: </label>
                <input type="text" id="answer-text-input"></input>
                <button type="button" id="submit">Submit</button>
           </div>
        <div class="answer" id="answer" hidden>
            <h3>Correct Answer: {{answer}}</h3>
        </div>
    </div>
</div>