    <button type="button" id="quiz-button"></button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="quiz-modal" class="hidden">
      <div class="modal-content">

        <div class="modal-header">
          <h3>Quiz Mode</h3>
          <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        </div>

        <div class="modal-body">

            

        <div class="modal-footer">
          <button type="button" id="modal-done" class="modal-hide-button action-button">Done</button>
        </div>

      </div>
    </div>
