<!DOCTYPE html>

<html>

	<header>
		<meta charset="utf-8">
		<title>Team 13</title>
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">

		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js" charset="utf-8" defer></script>
		<script src="index.js" charset="utf-8" defer></script>
		<script src="classCard.js" charset="utf-8" defer></script>
		<script src="definitions.js" charset="utf-8" defer></script>
	</header>

	<body>
		
		<nav id="header-bar">
			<button type="button" id="settings"><i class="fas fa-cog"></i></button>
			<h1 id="title-top">Flashcards</h1>
			<button type="button" id="search"><i class="fas fa-search></i></button>
		</nav>

	{{{body}}}

	</body>

</html>