<main class="content" id="classpage-material">

	<button type="button" class="back-button">Back</button>

	<div class="class-title">
		<h2>{{name}}</h2>
	</div>
	
	<div class="the-buttons">
		<button type="button" class="flashcard-mode">Flashcard Mode</button>
		<button type="button" class="quiz-mode">Quiz Mode</button>
	</div>

	<section class="flashcard-definitions">

		{{#each classData}}
			{{>definitions}}
		{{/each}}

	</section>

</main>

<div id="modal-background" hidden></div>

<div id="quizmode-modal">
	<div id="question">
		<p>question</p>
	</div>
	<div id="answer">
		<input type="text" id="answer-field">
	</div>
	<div id="real-answer">
		<p>real answer</p>
	</div>
</div>

<div id="flashcardmode-modal">
	<button type="button" id="back-flashcard"><i class="fas fa-chevron-left"></i></button>
	<div id="flash-card">
		<div id="card-front">
			<p>question</p>
		</div>
		<div id="card-back">
			<p>answer</p>
		</div>
	</div>
	<button type="button" id="fwd-flashcard"><i class="fas fa-chevron-right"></i></button>
</div>