<main class="content" id="classpage-material">

	<button type="button" class="back-button">Back</button>
	<button type="button" class="add-card"><i class="fas fa-plus"></i></button>

	<div class="class-title">
		<h2>{{name}}</h2>
	</div>
	
	<div class="the-buttons">
		<button type="button" id="flashcard-mode">Flashcard Mode</button>
		<button type="button" id="quiz-mode">Quiz Mode</button>
		<button type="button" id="add-class-button">Add Class</button>
	</div>

	<section class="flashcard-definitions">

		{{#each classData}}
			{{>definitions}}
		{{/each}}

	</section>

	<div id="add-definition-modal">
		<div id="question-form">
			<label for="question-input" class="question-input-label">Front Side</label>
			<input type="text" name="question-input" id="question-input">
		</div>
		
		<div id="answer-form">
			<label for="answer-input" class="answer-input-label">Back Side</label>
			<input type="text" name="answer-input" id="answer-input">
		</div>
		
		<button type="button" id="add-new-card-button">Add Card</button>
	</div>

	<div id="class-modal" hidden>
		<div class = "modal-content">
			<div class = "modal-header">
				<h3>Add Class</h3>
				<button type="button" id="modal-close" class="modal-hide-button"></button>
			</div>

			<div class="modal-body">
				<div class="class-input-element">
					<label for="add-class-input">Class: </label>
					<input type="text" id="add-class-input"></input>
				</div>
				<div class="question-input-element">
					<label for="add-question-input">Question: </label>
					<input type="text" id="add-question-input"></input>
				</div>
				<div class="answer-input-element">
					<label for="add-answer-input">Answer: </label>
					<input type="text" id="add-answer-input"></input>
				</div>
				<button type="button" id="another-question-button">+</button>
			</div>

			<div class="modal-footer">
			<button type="button" id="modal-done" class="modal-hide-button action-button">Done</button>
			</div>
		</div>
	</div>

	<div id="quizmode-modal" hidden>
		<div class = "modal-header">
				<h3>Quiz Mode</h3>
				<button type="button" id="modal-close" class="modal-hide-button"></button>
		</div>
		<div class="modal-content">
			<div class="modal-body">
				<div class="quiz-input-element">
					<label for="quiz-question-input">{{partialQ}}: </label>
					<input type="text" id="quiz-question-input"></input>
				</div>
				<div class="correct-answer">
					<h2>Correct Answer: {{answer}}</h2>
				</div>
			</div>
			<div class="modal-footer">
			<button type="button" id="modal-done" class="modal-hide-button action-button">Done</button>
			<button type="button" id="modal-back">Back</button>
			<button type="button" id="modal-next">Next</button>
			</div>
		</div>
	</div>

    <section id="flashcard-modal" hidden>\
		<div id="modal-backdrop"></div>
        <div id='prev-button'><i class="fas fa-caret-left"></i></div>
        <div id='next-button'><i class="fas fa-caret-right"></i></div>
        <div id='close-button'><i class="fas fa-window-close"></i></div>
        {{#each flashcards}}
            {{>flashcard}}
        {{/each}}
    </section>

</main>