body {
	font-family: Arial, sans-serif;
	background-color: #FEF1EB;
	margin: 0;
}

#header-bar {
	display: flex;
	flex-direction: row;
	display: static;
	background-color: #433A3F;
	justify-content: space-between;
	margin: 0 0 20px 0;
	box-shadow: 0 4px 1px grey;
}

#title-top {
	color: #FEF1EB;
	font-size: 50px;
	text-shadow: 0 4px 1px black;
	margin: 20px;
}

#settings, #search {
	background-color: transparent;
	border: none;
	margin: 10px;
	font-size: 50px;
}




#homepage-material, #classes {
	display: flex;
	flex-flow: row wrap;
}

.card {
	height: 180px;
	width: 300px;
	border-style: line;
	justify-content: space-between;
	margin: 15px;
	border-radius: 18px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#add-class {
	font-size: 40px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: transparent;
}

#class-card {
	background-color: #54494f;
	text-align:center;
}

button.more-options {
	background-color: transparent;
	border-style: none;
	font-size: 30px;
	color: #EBEBEB;
	position: relative;
	bottom: 70px;
	left: 130px;
}

a#class-title {
	color: black;
	text-decoration: none;
	font-size: 40px;
	position: relative;
	top: 40px;
}

#miscellaneous-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.one-question {
	position: fixed;
	z-index: 1010;
	width: 600px;
	height: 360px;
	perspective: 1000px;
}

main#classpage-material {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

/*.question, .answer {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility:hidden;
	left: 50px;
	z-index:2000;
}*/

.flashcard-definitions {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.each-card {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.question{
	max-width: 500px;
	max-height: 100px;
	top: 40px;
	background-color:#433A3F;
	color:#FEF1EB;
	border-color: black;
	border-radius: 10px;
}

.answer{
	max-width: 500px;
	max-height: 100px;
	top: 220px;
	justify-content: center;
	background-color:#FEF1EB;
	border-color: black;
	border-radius: 10px;
}

.answer-input-element {
	max-width: 500px;
	border-color: black;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.back-button {
	position: static;
	background-color: transparent;
	border-style: none;
	font-size: 20px;
}

a#this-thing {
	text-decoration: none;
	color: black;
}
  
.answer-input-element > label {
	font-weight: 600;
	flex: 1 75px;
	margin-right: 10px;
	z-index: 1100;
}

.add-card {
	font-size: 30px;
	background-color: transparent;
	border-style: none;
}

#modal-backdrop{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.6);
}

#modal-done {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #FEF1EB;
	background-color: #54494f;
	z-index: 1110;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	margin: 2px;
}

#quiz {
	position: fixed;
	top: 150px;
	left: 0;
	bottom: 0;
	right: 0;
	/* margin-top:-180px;
	margin-left:-300px; */
	z-index: 1010;
}

#submit {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #FEF1EB;
	background-color: #54494f;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	position: relative;
	left: 20px;
	padding: 5px 0px;
	max-width: 70px;
	width: 300px;
	margin: 2px;
}

#add-class-modal {
	position: fixed;
	top: 150px;
	left: 0;
	bottom: 0;
	right: 0;
	/* margin-top:-180px;
	margin-left:-300px; */
	z-index: 1010;
}

.modal-content {
	width: auto;
	max-width: 500px;
	min-width: 500px;
	min-height: 300px;
	max-height: 300px;
	margin: 40px auto;
	background-color: #FEF1EB;
	border-radius: 15px;
	z-index: 1010;
}
.flashcard-mode, .quiz-mode-button {
	font-size: 25px;
	color: #FEF1EB;
	background-color: #54494f;
	border-radius: 18px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 5px 0px;
	width: 300px;
	margin: 2px;
}

#quiz #quiz-content {
	width: auto;
	max-width: 700px;
	min-width: 700px;
	min-height: 500px;
	max-height: 500px;
	margin: 40px auto;
	background-color: #FEF1EB;
	border-radius: 15px;
	z-index: 1010;
}

#modal-close-button {
	position: relative;
	left:440px;
	bottom: 40px;
	z-index: 1110;
}

.modal-header {
	position: relative;
	top: 18px;
	justify-content: center;
	padding: 10px 20px;
}
  
.modal-header h3 {
	font-family: Arial, sans-serif;
	margin: 0;
	font-size: 28px;
}

div.class-title {
	font-size: 30px;
}

#flashcard-mode, #quiz-mode {
	font-size: 25px;
	color: #FEF1EB;
	background-color: #54494f;
	border-radius: 18px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	padding: 5px 0px;
	width: 300px;
	margin: 2px;
}

#modal-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.6);
}

#new-class-name-form {
	position: relative;
	left: 30px;
	font-family: Arial, sans-serif;
}

#add-definition-modal {
	border-style: solid;
	width: 300px;
}

#flashcard-modal{
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-180px;
	margin-left:-300px;
}

.flash-card{
	position:fixed;
	z-index: 1020;
    background-color:transparent;
    width:600px;
    height:360px;
	perspective:1000px;
}

.flash-card-content{
	z-index: 1020;
    border:1px solid #000;
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
    transition:0.75s;
	transform-style:preserve-3d;
}

.flash-card:hover .flash-card-content{
    transform:rotateY(180deg);
}

.card-front, .card-back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
}

.card-front{
	background-color:#433A3F;
	color:#FEF1EB
}

.card-back{
    background-color:#FEF1EB;
    transform:rotateY(180deg);
}

#close-button{
	position:absolute;
	top:-100px;
	left:635px;
	z-index:1020;
	border: none;
	color:#FEF1EB;
	cursor: pointer;
	font-size:35px;
}

#close-button:hover{
	transform:scale(1.25);
	transition:0.25s;
}

#next-button, #prev-button{
	position:absolute;
	z-index:1020;
	height: 60px;
	width: 60px;
	border: none;
	margin-top:140px;
	border-radius: 30px;
	background-color:#FEF1EB;
	color: #000;
	cursor: pointer;
	text-align:center;
	font-size:50px;
	box-shadow:0px 3px;
}

#next-button:hover, #prev-button:hover{
	transform:scale(1.25);
	transition:0.25s;
	background-color:#000;
	color:#fef1eb;
}

#prev-button i{
	margin-right:12px;
	margin-top:4px;
}
#next-button i{
	margin-left:8px;
	margin-top:4px;
}

#prev-button{
	left:-85px;
}

#next-button{
	left:625px;
}